@import url("https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:300,400,700");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  min-width: 320px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #fff;
  color: #222;
  margin: 0;
  font-family: "Lato", Helvetica, Arial, sans-serif; }

.content {
	padding: 2rem 5rem;
}
	.content-links {
		margin-left: 1rem;
	}

.section {
  margin-bottom: 100px;
}
  .section-title {
    margin-bottom: 2rem;
  }

.main-footer {
	width: 100%;
	background-color: #3f82bd;
	color: #fff; 
	border-bottom: 5rem solid #1E70BD;
}	
	.main-footer-container {
		padding: 50px;
		display: flex;
		width: 35%;
		margin: auto;		
	}
		.main-footer-section {
			padding: 0px 50px;
		 }
			.main-footer-section a {
				color: #fff;
			}
	
.mainSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.mainSection__left{
  grid-column: 1;
  margin-left: 5rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  align-items: center;
}
.mainSection__right{
  grid-column: 2;
  margin-left: 5rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  align-items: center;
}
h2 {
  color: #1E70BD;
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 2rem;
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
  margin-bottom: 2rem;
}

li {
  line-height: 1.75em;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: #3F82BD;
  ;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #1E70BD;
}

